<%= form_tag sessions_path do %>

    <div class="container">
       <div class="form-group">
          <div class="row">
            <div class="col-10">
              <p style="font-size: 200%">Log in:</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="col-4 col-form-label">User Name:</label>
            <div class="col-10">
                <%= text_field_tag :name %>
            </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-4 col-form-label">Email:</label>
            <div class="col-10">
                <%= text_field_tag :email %>
            </div>  
        </div>

        <div class="form-group">
          <label for="password" class="col-4 col-form-label">Password:</label>
            <div class="col-10">
                <%= password_field_tag :password %>  
            </div>
        </div>
        
        <div class="form-group">
          <label for="name" class="col-4 col-form-label">User Name:</label>
            <div class="col-10">
                <input class="btn btn-primary" type="submit" value="Log In">
                <a class="btn btn-primary" href="<%= root_path %>" role="button">Cancel</a>
            </div>
        </div>

<% end %>

