
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Advanced search</h1>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-6"> 
      <%= bootstrap_form_for @search, html: {class: "pure-form"} do |s| %>
        <%= s.text_field :make %>
        <%= s.text_field :model%>
        <%= s.text_field :color%>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">        
        <%= s.select(:start_year, 1940..2017) %>
        <%= s.select(:end_year, 1940..2017) %>
        <%= s.submit "search", class: "btn btn-primary", style: "padding: 5px 70px; font-size: 120%" %>
    </div>  
  </div>
      <%end%>
</div>