<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Advanced search</h1>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-6"> 
      <%= bootstrap_form_tag method: :get do %>
        <%= text_field_tag :make %>
        <%= text_field_tag :model%>
        <%= text_field_tag :color%>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">        
      <%= select_tag(:year, 1940..2017, as: :start_year) %>
      <%= select_tag(:year, 1940..2017, as: :end_year) %>
      <%= submit_tag "search", class: "btn btn-primary", style: "padding: 5px 70px; font-size: 120%" %>
      <%end%>        
    </div>  
  </div>
</div>