<%= nested_form_for(@car) do |f| %>

  <div class="form-group">
    <% if @car.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>

    <% end %>
  </div>  
  
  <div class="row">
    <div class="form-group">
      <label for="make" class="col-md-1 col-form-label">Make:</label>
      <div class="col-md-12">
        <%= f.text_field :make, class: "form-control", placeholder: "Enter car make" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="model" class="col-md-1 col-form-label">Model:</label>
      <div class="col-md-12">
        <%= f.text_field :model, class: "form-control", placeholder: "Enter car model" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="color" class="col-md-1 col-form-label">Color:</label>
      <div class="col-md-12">
        <%= f.select(:color_type, options_for_select([['Red', 'Red'], ['Blue', 'Blue'], ['Black', 'Black'], ['White', 'White'], ['Green', 'Green'], ['Yellow', 'Yellow'], ['Grey', 'Grey'], ['Silver', 'Silver']])) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="year" class="col-md-1 col-form-label">Year:</label>
      <div class="col-md-12">
        <%= f.text_field :year, class: "form-control", placeholder: "Enter Year" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="description" class="col-md-1 col-form-label">Description:</label>
      <div class="col-md-12">
        <%= f.text_field :description, class: "form-control", placeholder: "Enter Description" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="price" class="col-md-1 col-form-label">Price:</label>
      <div class="col-md-12">
        <%= f.text_field :price, class: "form-control", placeholder: "Enter Price" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="condition" class="col-md-1 col-form-label">Condition:</label>
      <div class="col-md-12">
        <%= f.select(:condition, options_for_select([['Excellent', 'Excellent'], ['Good', 'Good'], ['Fair', 'Fair'], ['Poor', 'Poor']])) %>
      </div>
    </div> 
  </div>     

  <div class="row">
    <div class="form-group">
      <%= f.fields_for :car_images do |image_form| %>
        <%= image_form.file_field :image %>
        <%= image_form.link_to_remove "Remove this Image" %>
      <% end %>
      <p><%= f.link_to_add "Add an Image", :car_images %></p>
    </div>
  </div>   

  <div class="row">
    <div class="row">
      <div class="col-md-12">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>  


<% end %>
