<%= form_for(@car) do |f| %>

  <div class="form-group">
  <% if @car.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

    <ul>
      <% @car.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>

    <% end %>
  </div>  

  <div class="form-group">
    <label for="make" class="col-2 col-form-label">Make:</label>
    <div class="col-10">
      <%= f.text_field :make, class: "form-control", placeholder: "Enter car make" %>
    </div>
  </div>

  <div class="form-group">
    <label for="model" class="col-2 col-form-label">Model:</label>
    <div class="col-10">
      <%= f.text_field :model, class: "form-control", placeholder: "Enter car model" %>
    </div>
  </div>

  <div class="form-group">
    <label for="color" class="col-2 col-form-label">Color:</label>
    <div class="col-10">
      <%= f.text_field :color, class: "form-control", placeholder: "Enter car color" %>
    </div>
  </div>

  <div class="form-group">
    <label for="year" class="col-2 col-form-label">Year:</label>
    <div class="col-10">
      <%= f.text_field :year, class: "form-control", placeholder: "Enter car year" %>
    </div>
  </div>

  <div class="form-group">
    <label for="image" class="col-2 col-form-label">Add Image:</label>
    <div class="col-10">
      <%= f.file_field :image, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-10">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div> 
  </div>
<% end %>
