<div class="container">
  <div align="center">      
    <h1 style="font-size: 300%">Our Cars</h1>
  </div>  
  <!-- condition on adding cars --> 
  <div class="row">  
    <% if current_user %>
    <div class="col-md-12" align="center">
      <p class="text-center"><a class="btn btn-primary" href="<%= new_car_path %>" role="button" style="padding: 6px 70px; font-size: 120%" >Add New Car</a></p>
    </div>
    <% else %>
    <div class="col-md-12"> 
      <h4 style="color: red" align="center">Please sign in before trying to add\edit cars!</h4>
    </div>
    <% end %>  
  </div>
  <!--  generating car grid --> 
  <div class="row">
    <% @cars.each do |car| %>
    <a class="panel panel-primary col-md-4" style="text-decoration: none" href="<%= car_path(car) %>">
      <div class="panel-body" align="center"><%= image_tag car.main_image.url, class: "img-responsive thumbnail", style: "height: 200px; width: 300px" %>
      </div>  
      <div class="col-md-12 panel-footer" align="center">  
        <h4><%= car.year %>
          <%= car.make %>
          <%= car.model %></h4>
        </div>
        <div class="col-md-12" align="center"> 
          <h4>More Details</h4>
        </div> 
      </a>
      <% end %>
    </div>
    <!-- create advanced search query -->
    <div align="center">
      <%= link_to "Advanced Search", new_search_path, class: "btn btn-secondary active"%>
    </div>
  </div> 
