<div class="col-10">   
  <p id="notice"><%= notice %></p>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-1">
  		<p>
  		  <strong>Make:</strong>
  		  <%= @car.make %>
  		</p>
    </div>  
    
    <div class="col-md-1">
  		<p>
  		  <strong>Model:</strong>
  		  <%= @car.model %>
  		</p>
    </div>  
 
    <div class="col-md-1">
  		<p>
  		  <strong>Color:</strong>
  		  <%= @car.color_type %>
  		</p>
    </div>  

    <div class="col-md-1">
  		<p>
  		  <strong>Year:</strong>
  		  <%= @car.year %>
  		</p>
    </div> 
  </div>   
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if current_user %>

    		<div class="col-10">
          <a class="btn btn-primary" href="<%= edit_car_path(@car) %>" role="button">Edit</a>
        </div> | 

        <div class="col-10">
          <a class="btn btn-primary" href="<%= root_path %>" role="button">Back</a>
        </div>  

      <% else %>

       <div class="col-10">
          <a class="btn btn-primary" href="<%= root_path %>" role="button">Back</a>
        </div><br/> 
        
        <div class="col-md-12">
          <h4>Please Log In before trying to make changes</h4>
        </div>
      <% end %>  
    </div>  
  </div>
</div> 




