<div class="container">
  <div class="row">
    <% if @car.car_images.count == 1 %>
      
      <!-- Wrapper for images -->

        <div class="col-md-12" align="center"><%= image_tag @car.main_image.url(:medium), class: "img-responsive" %>
        </div>   

    <% else %>  
       <!--  Image carousel -->

      <div id="myCarousel" class="carousel slide col-md-12" data-ride="carousel">

          <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
         
        <% @car.car_images.each do |car_image| %>
          <div class="col-md-4" align="center"><%= image_tag car_image.image.url(:medium), class: "img-responsive, carousel-inner, item active"%>
          </div>  
        <% end %>
      <!-- Carousel Controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
            
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>  
    <% end %> 
  </div>
        
    
  <div class="row">
    <div class="col-md-12" align="center">
      <p>
        <strong>Make:</strong>
        <%= @car.make %>
      </p>

      <p>
        <strong>Model:</strong>
        <%= @car.model %>
      </p>
      
      <p>
        <strong>Color:</strong>
        <%= @car.color_type %>
      </p>

      <p>
        <strong>Year:</strong>
        <%= @car.year %>
      </p>
    </div>
  </div>

<!--   Buttons if user_signed_in? -->

  <div align="center">   
    <% if current_user && @car.user_id == current_user.id %>
      <a class="btn btn-primary" href="<%= edit_car_path(@car) %>" role="button">Edit</a>
      <a class="btn btn-primary" href="<%= root_path %>" role="button">Back</a>
    <% else %>
      <% if current_user %>
        <h4 style="color: red">You can only edit and delete cars you created!</h4>
           <a class="btn btn-primary" href="<%= root_path %>" role="button">Back</a>
      <% else %>
        <h4 style="color: red">Please sign in before trying to add\edit cars!</h4>
        <a class="btn btn-primary" href="<%= root_path %>" role="button">Back</a>
      <% end %>
    <% end %>
  </div>  
</div> 