<div class="container">
  
<!--   Grep car images -->

  <div class="row">
    <% if @car.car_images.count == 1 %>
      <div class="col-md-4"><%= image_tag @car.main_image.url(:medium), class: "img-responsive" %>
      </div>
    <% else %>  

      <% @car.car_images.each do |car_image| %>
        <div class="col-md-4"><%= image_tag car_image.image.url(:medium), class: "img-responsive", height: "90%", width: "90%" %>
      </div>
      <% end %>
    <% end %>  

  </div>
      
  <p>
    <strong>Make:</strong>
    <%= @car.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= @car.model %>
  </p>
  
  <p>
    <strong>Color:</strong>
    <%= @car.color_type %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= @car.year %>
  </p>

<!--   Buttons if user_signed_in? -->

  <% if current_user && @car.user_id == current_user.id %>

    <div class="row">
      <div class="col-md-1">
        <a class="btn btn-primary" href="<%= edit_car_path(@car) %>" role="button">Edit</a>
      </div>

      <a class="btn btn-primary" href="<%= root_path %>" role="button">Back</a>

    </div> 

  <% else %>
    
    <% if current_user %>
      <h4 style="color: red">You can only edit and delete cars you created!</h4>
      
      <div class="row">  
        <div class="col-md-1">
         <a class="btn btn-primary" href="<%= root_path %>" role="button">Back</a>
        </div>
      </div>

    <% else %>
      
      <h4 style="color: red">Please sign in before trying to add\edit cars!</h4>
      
      <div class="row">  
        <div class="col-md-1">
          <a class="btn btn-primary" href="<%= root_path %>" role="button">Back</a>
        </div>
      </div>

    <% end %>

  <% end %>
  
</div> 