   
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-1">
  		<p>
  		  <strong>Make:</strong>
  		  <%= @car.make %>
  		</p>
    </div>  
    
    <div class="col-md-1">
  		<p>
  		  <strong>Model:</strong>
  		  <%= @car.model %>
  		</p>
    </div>  
 
    <div class="col-md-1">
  		<p>
  		  <strong>Color:</strong>
  		  <%= @car.color %>
  		</p>
    </div>  

    <div class="col-md-1">
  		<p>
  		  <strong>Year:</strong>
  		  <%= @car.year %>
  		</p>
    </div> 
  </div>   
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
		<%= link_to 'Edit', edit_car_path(@car) %> |
		<%= link_to 'Back', cars_path %>
    </div>  
  </div>
</div> 




