
<footer class="padl footer font navbar-fixed-bottom" style="background-color: #B0C4DE; padding-top: 40px; padding-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12 col-sm-12">
        <div class="row">
          <h4 style="padding-left:10px"><%= link_to "ABOUT US", style: "color: #005ce6" %>
          </h4>
          <h4 style="padding-left:10px"><%= link_to "PRESS", style: "color: #005ce6" %>
          </h4>
          <h4 style="padding-left:10px"><%= link_to "PRIVACY", style: "color: #005ce6" %>
          </h4>
          <h4 style="padding-left:10px"><%= link_to "TERMS", style: "color: #005ce6" %>
          </h4>
        </div>  
      </div>
      <div class="col-md-3 col-md-push-1 col-xs-12 col-sm-12">
        <h4 class="grey"><%= "\u00A9" %><%= link_to "CarList 2017", style: "color: #606060" %>
        </h4>                                     
      </div>  
      <div class="col-md-2 col-xs-12 col-sm-12">
        <div class="row">
          <div class="sm" style="padding-left:15px">
            <a href="https://www.facebook.com/wearecatchapp/"><%= image_tag "fb_icon.png", class: "img-responsive" %></a>
            <a href="#" ><%= image_tag "LI-icon.png", class: "img-responsive" %></a>
            <a href="#" ><%= image_tag "twitter-logo-4.png", class: "img-responsive" %></a>
            <a href="https://www.instagram.com/wearecatchapp/" ><%= image_tag "new-instagram-icon-2.png", class: "img-responsive" %></a>
          </div>
        </div>
      </div>
    </div> 
  </div>     
</footer>
