<!DOCTYPE html>
<html>
<head>	
  <title>CarList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row" style="padding-top: 30px">
			<div class="col-10">
				<% if current_user %>
					You are logged in as: <%= current_user.name %>
					<a class="btn btn-primary" href="<%= logout_path %>" role="button">Log Out</a>
				<% else %>
					<a class="btn btn-primary" href="<%= signup_path %>" role="button">Sign Up</a> Or 
					<a class="btn btn-primary" href="<%= login_path %>" role="button">Log In</a>
				<% end %>
			</div>	
		</div>		
	</div>
	<%= yield %>

</body>
</html>
